body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.topbar {
 border: 1px solid black;
 border-top: 0;
 background-color: gray;
 text-align: right;
 padding: 5px;
 width: 100%;
 position: fixed;
}

.topbar a {
    color: white;
    text-decoration: none;
    padding: 25px;

}

.content {
    
}