include product-mixin

doctype html
html(lang='en')
  head
    title= title
    style.
      body { 
        color: red;
      }
      .product-wrapper{
        color: blue;
        border: 1px solid black;
        text-align: center;
      }
    script(type='text/javascript').  
      let message = prompt('Hi say something')
      alert(message)
      

  body
    +prod({title: 'PS4 Pro', description: 'Best console ever, so far..' })
    +prod({title: 'hihi'})
    +prod({title: 'X-Box'})
    h1= h1
    div.container
     p Starting using Pug!
     a(href='second') Second
     br
     a(href='third') Third