include product-mixin

doctype html
html(lang='en')
  head
    title= title
    style.
      body { 
        color: red;
      }
    script(type='text/javascript').  
      let message = prompt('Hi say something')
      alert(message)
      

  body
    +prod({title: 'PS4 Pro', description: 'Best console ever, so far..' })
    h1= h1
    div.container
     p Starting using Pug!
     a(href='second') Second