doctype html
html(lang='en')
    head
        title second
        link(href='/css/style.css' rel='stylesheet' type='text/css')
        script(src='/../js/script.js')
    body
        h1 Second page link
        p Hi, I'm the second page :D
        a(href='/') Home