doctype html
html
  head
    title MYschedule/schedule
    link(href="/schedule/schedule.css" type="text/css" rel="stylesheet")
  body
    nav
    .topbar
        a.topbarReg(href='/') Home
        a.topbarReg(href='#who we are') Who we are
        a.topbarReg(href='#how it works') How it works
        a.topbarReg(href='#questions')  Questions
        a.login(href='') Log in
        a.signUp(href='schedule') Sign up
    .signupsheet
      form
        div
          label company name
          input(type="username" placeholder="ex. My company ")
        div
          label #of classes, workfields, etc
          input(type="text" placeholder="ex. 8")
        div
          label