body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    text-shadow: 1px 2px 1px 0 gray;
    text-align: center;
}

div {
    height: 100vh;
    background-position: center center;
    position: sticky;
    top: 0;
}

.one {
    background-image: url(back1[1].png);
    background-size: cover;
    height: 100vh;
}

.two {
    background-image: url(back2[1].png);
    background-size: cover;
    position: sticky;
}

.three {
    background-image: url(back3[1].png);
    background-size: cover;
    position: sticky;
}

.four {
    background-image: url(back4[1].png);
    background-size: cover;
    position: sticky;
}

.five {
    background-image: url(back5[1].png);
    background-size: cover;
    position: sticky;
}

.six {
    background-image: url(back6[1].png);
    background-size: cover;
    position: sticky;
}