li:link {
    color: red;
} 

li:hover {
    color: orange;
}

li:visited {
    color: purple;
}

header h1 {
    color: lime;
}

section h1 {
    color: coral;
}

h1::first-letter {
    color: black;
}

section > p {
    color: black;
}

p + p {
    color: darkgoldenrod;
}

li ~ li {
    color: deeppink;
}

#facebook {
    color: purple;
}

#google {
    color: red;
}

#yahoo {
    color:orange;
}