extends ./layout.pug

block content
  h1 Superheroes
  p This site shows superheroes information
  each superheros in superhero
    div.superheroe-container
      a(href='/heroInfo/'+ superheros.id)  
        img(src='img/' + superheros.image)
        h3= superheros.name
  include ./create.pug
