table {
    font-family: Arial, Helvetica, sans-serif;
    color: #6e6f74;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #ddd;
}

th , td {
    padding: 20px;
}

tbody > td:first-child {
    color: rgb(0, 108, 196);
}

tbody > tr:last-child {
    border-width: 0
}

tfoot {
    text-align: center;
}

tfoot > a {
    display: inline-block;
    text-decoration: none;
    color: #aaa;
    margin-right: 10px
}

a.active {
    color: white;
    font-weight: bold;
    background-color: #008cba;
    padding: 10px 15px;
    border-radius: 10px;
}

.selected {
    background-color: #d9edf6;
}

.error {
    background-color: #f2dedf;
}
